<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Blog App</title>
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <script src="/static/js/jquery-3.1.1.js"></script>

    <script>
        $(function(){
            $.ajax({
                url: '/getAllBlogs',
                type: 'GET',
                success:function(response) {
                    console.log(response); 
                    var data = JSON.parse(response);   

                    var itemsPerRow = 0;
                    var div = $('<div>').attr('class', 'row');
                    for (var i = 0; i < data.length; i++) {                                           
                        if (itemsPerRow < 3) {
                           
                            if (i == data.length - 1) {
                                div.append(CreateThumb(data[i].Id,data[i].Title, data[i].Description, data[i].FilePath));
                                $('.well').append(div);
                            } else {
                                div.append(CreateThumb(data[i].Id,data[i].Title, data[i].Description, data[i].FilePath));
                                itemsPerRow++;
                            }
                        } else {
                            $('.well').append(div);
                            div = $('<div>').attr('class', 'row');
                            div.append(CreateThumb(data[i].Id,data[i].Title, data[i].Description, data[i].FilePath));
                            if (i == data.length - 1) {
                                $('.well').append(div);
                            }
                            itemsPerRow = 1;
                        }                        
                    }
                },
                error:function(error){
                    console.log(error);
                }
            });

            $(document).on('click','[id^="btn_"]',function(){
                var spId = $(this).attr('id').split('_')[1];
                $.ajax({
                    url: '/addUpdateLike',
                    method: 'POST',
                    data: {blog:$(this).attr('id').split('_')[1],like:1},
                    success: function(response){
                        console.log(response);
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });
        })

        function CreateThumb(id,title,desc,filepath,like){
            var mainDiv = $('<div>').attr('class','col-sm-4 col-md-4');
            var thumbNail = $('<div>').attr('class','thumbnail');
            var img = $('<img>').attr({'src':filepath,'data-holder-rendered':true,'style':'height: 150px; width: 150px; display: block'});
            var caption = $('<div>').attr('class','caption');
            var title = $('<h3>').text(title);
            var desc = $('<p>').text(desc);
            
            var p = $('<p>');
            var btn = $('<button>').attr({'id':'btn_'+id,'type':'button','class':'btn btn-danger btn-sm'});
            var span = $('<span>').attr({'class':'glyphicon glyphicon-thumbs-up','aria-hidden':'true'});
            
            p.append(btn.append(span));
                        
            caption.append(title);
            caption.append(desc);
            caption.append(p);
            thumbNail.append(img);
            thumbNail.append(caption);
            mainDiv.append(thumbNail);
            return mainDiv;     
        }
    </script>
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Dashboard</a></li>
                    <li role="presentation"><a href="/userHome">My List</a></li>
                    <li role="presentation"><a href="/showAddBlog">Add Item</a></li>
                    <li role="presentation"><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <img src="/static/images/Flask_Icon.png" alt="Flask_Icon.png"/ >
        </div>
 
        <div class="well">

            <!-- We'll populate this dynamically -->

            <footer class="footer">
                <p>&copy;etaman.com 2017</p>
            </footer>
 
        </div>
    </div>
</body>
 
</html>