<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Blog App</title>
  
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="/showSignin">Sign In</a>
                    </li>
                    <li role="presentation"><a href="/showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <img src="/static/images/Flask_Icon.png" alt="Flask_Icon.png"/ > 
        </div>
 
        <div class="jumbotron">
            <img src="/static/images/blog-icon.jpg" alt="blog-icon.jpg"/ >
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign Up</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Blog 1</h4>
                <p>No man has a good enough memory to be a successful liar - Abraham Lincoln</p>
 
                <h4>Blog 2</h4>
                <p>A successful man is one who makes more money than his wife can spend. A successful woman is one who can find such a man.</p>
 
                <h4>Blog 3</h4>
                <p>I can resist everything except temptation.</p>
            </div>

            <hr>
 
            <div class="col-lg-6">
                <h4>Blog 1</h4>
                <p>No man has a good enough memory to be a successful liar - Abraham Lincoln</p>
 
                <h4>Blog 2</h4>
                <p>A successful man is one who makes more money than his wife can spend. A successful woman is one who can find such a man.</p>
 
                <h4>Blog 3</h4>
                <p>I can resist everything except temptation.</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy;etaman.com 2017</p>
        </footer>
 
    </div>
</body>
 
</html>
