<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Blog App</title>
   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
    <script src="/static/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>

      $(function() {
          $.ajax({
              url: '/getAllBlogs',
              type: 'GET',
              success: function(response) {
                  console.log(response);
              },
              error: function(error) {
                  console.log(error);
              }
          });
      })


      $(function(){   
          $('#btnUpdate').click(function(){
            $.ajax({
              url : '/updateBlog',
              data : {title:$('#editTitle').val(),description:$('#editDescription').val(),id:localStorage.getItem('editId')},
              type : 'POST',
              success: function(res){       
                $('#editModal').modal('hide');  

                // Re populate the grid                
                GetBlogs();
                              
              },
              error: function(error){
                console.log(error);
              }
            });
          });
      });

      function GetBlogs(){
        $.ajax({
          url : '/getBlog',
          type : 'GET',
          success: function(res){             
            var blogObj = JSON.parse(res);
            $('#ulist').empty();
            $('#listTemplate').tmpl(blogObj).appendTo('#ulist');        
          },
          error: function(error){
            console.log(error);
          }
        });
      }

      // get blog posts from db when the user signed in
      $(function() {
          $.ajax({
              url: '/getBlog',
              type: 'GET',
              success: function(res) {
   
                  // Parse the JSON response
                  var blogObj = JSON.parse(res);
                   
                  // Append to the template
                  $('#listTemplate').tmpl(blogObj).appendTo('#ulist');
     
              },
              error: function(error) {
                  console.log(error);
              }
          });
      });

      function ConfirmDelete(elm){
        localStorage.setItem('deleteId',$(elm).attr('data-id'));
        $('#deleteModal').modal();
      }

      function Delete(){
        $.ajax({
          url : '/deleteBlog',
          data : {id:localStorage.getItem('deleteId')},
          type : 'POST',
          success: function(res){
            var result = JSON.parse(res);
            if(result.status == 'OK'){
              $('#deleteModal').modal('hide');
              GetBlogs();
            }
            else{
              alert(result.status); 
            }
          },
          error: function(error){
            console.log(error);
          }
        });
      }

      function Edit(elm) {
          localStorage.setItem('editId',$(elm).attr('data-id'));
          $.ajax({
              url: '/getBlogById',
              data: {
                  id: $(elm).attr('data-id')
              },
              type: 'POST',
              success: function(res) {
                var data = JSON.parse(res);
                console.log(data);
                $('#editTitle').val(data[0]['Title']);
                $('#editDescription').val(data[0]['Description']);
                $('#imgUpload').attr('src',data[0]['FilePath']);
                if(data[0]['Private']=="1"){
                  $('#chkPrivate').attr('checked','checked');
                }
                if(data[0]['Done']=="1"){
                  $('#chkDone').attr('checked','checked');
                }
                $('#editModal').modal();
              },
              error: function(error) {
                  console.log(error);
              }
          });
      }
    </script>
    <style>
        .trash {
            color: rgb(209, 91, 71);
        }
        .panel-body .checkbox {
            display: inline-block;
            margin: 0px;
        }
        .list-group {
            margin-bottom: 0px;
        }
    </style>   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/showAddBlog">Add Blog</a></li>
            <li role="presentation" class="active"><a href="/logout">Logout</a></li>
          </ul>
        </nav>
        <img src="/static/images/Flask_Icon.png" alt="Flask_Icon.png"/ >
      </div>

      <script id="listTemplate" type="text/x-jQuery-tmpl">
          <li class="list-group-item">
              <div class="checkbox">
                  <label>
                      ${Title}
                  </label>
              </div>
              <div class="pull-right action-buttons">
                  <a data-id=${Id} onclick="Edit(this)"><span class="glyphicon glyphicon-pencil"></span></a>     
                  <a data-id=${Id} onclick="ConfirmDelete(this)"><span class="glyphicon glyphicon-trash"></span></a> 
              </div>
          </li>
      </script>

      <div class="row">
        <div class="col-md-12">            
            <div class="panel-body">
              <ul id="ulist" class="list-group">                                                 
              </ul>
            </div>             
        </div>
      </div>

      <div class="jumbotron">
        <img src="/static/images/home-shape-icon-25.png" alt="home-shape-icon-25.png"/ >    
      </div>      

      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="editModalLabel">Update Blog</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label for="recipient-name" class="control-label">Title:</label>
                  <input type="text" class="form-control" id="editTitle">
                </div>
                <div class="form-group">
                  <label for="message-text" class="control-label">Description:</label>
                  <textarea class="form-control" id="editDescription"></textarea>
                </div>

                <div class="form-group">
                  <label for="txtPost">Photos</label>
                                 
                  <div class="input-group">
                    <span class="input-group-btn">
                      <span class="btn btn-primary btn-file">
                            Browse&hellip; <input type="file" id="fileupload" name="file" multiple>
                      </span>
                    </span>
                    <div class="pull-right">
                      <img id="imgUpload" style="width: 140px; height: 140px;" class="img-thumbnail"><input type="hidden" name="filePath" id="filePath"></input>
                    </div>
                  </div> 
                </div>

                <div class="form-group">
                  <label>Mark this as private and not visible to others.</label><br/>
                  <input id="chkPrivate" name="private" type="checkbox"> Mark as Private <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </div>

                <div class="form-group">
                  <label>Have you already accomplished this?</label><br/>
                  <input id="chkDone" name="done" type="checkbox"> Mark as Done <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </div>
             </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button id="btnUpdate" type="button" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="text-align:center;">
              <h4 class="modal-title" style="color:red;" id="deleteModalLabel">You are going to Delete this forever !!</h4>
            </div>
           
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" onclick="Delete()">Delete</button>
            </div>
          </div>
        </div>
      </div>


      <footer class="footer">
        <p>&copy;etaman.com 2017</p>
      </footer>

    </div>
  </body>
</html>
